:root {
  /* COLORS */

  --white: rgb(255, 255, 255);
  --gray: rgb(131, 131, 145);
  --dark-gray: rgb(56, 56, 79);
  --dark: rgb(7, 7, 36);
  --blue: rgb(45, 104, 240);
  --light-blue: rgb(65, 158, 187);
  --purple: rgb(109, 46, 213);
  --yellow: rgb(237, 162, 73);
  --orange: rgb(209, 76, 50);
  --red: rgb(216, 58, 52);
  --green: rgb(30, 193, 162);
  
  /* Fonts */
  /* Use spartan with regular 400 or bold 700  */
  --spartan: "League Spartan", sans-serif;
  --antonio: "Antonio", sans-serif;
}

body {
  font-family: var(--antonio);
  margin: 0;
  padding: 0;
  background-image: url(/src/assets/background-stars.svg);
  background-size: cover;
  background-color: var(--dark);
  color: white;
}

.hamburgerNav {
  display: none;
}

.hamburgerOpen {
  position: absolute;
  top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
}

.hamburgerItemContainer {
  margin: 0 2rem;
  cursor: pointer;
}

.hamburgerItemContainer:not(:last-child) {
  border-bottom: 1px solid var(--dark-gray);
}

.hamburgerItemContainer:first-child {
  margin-top: 2rem;
}

.hamburgerItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.hamburgerItemText {
  font-family: var(--spartan);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 20px;
  font-weight: bold;
}

.planetContainer {
  display: flex;
  flex-direction: column;
}

#planetNavigation{
  width: 100%;
  border-bottom: 1px solid var(--dark-gray);
}

#planetNavbar {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.planetNavItem {
  background: none;
  border: none;
  list-style-type: none;
  font-family: var(--spartan);
  font-weight: bold;
  letter-spacing: 1.93px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0.5rem 0;
  color: var(--gray);
  cursor: pointer;
  border-bottom: 5px solid transparent;
  margin-bottom: -16px;
  padding-bottom: 8px;
}

.planetNavItem:hover {
  border-bottom: 5px solid var(--purple);
  color: var(--white);
}

/* Planet page styling */

/* Navigation */
#planetPage {
  display: flex;
  flex-direction: column;
}

/* Planet block */
.planetBlock { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  padding: 0 2rem;
}

.planetDescContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* planet page image */

#planetImageContainer {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 4rem;
}

.planetImg {
  margin-bottom: 2rem;
  width: 100%;
  max-width: 400px;
}

.planetImg:nth-child(2) {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -0%);
  width: 100px;
}

#planetName {
  text-transform: uppercase;
  font-size: 35px;
}
#planetNavDescription{
  text-align: center;
  font-family: var(--spartan);
  font-size: 14px;
  line-height: 22px;;
  min-width: 250px;
  max-width: 500px;
}

.wikiContainer {
  font-family: var(--spartan);
  color: var(--gray);
  
}

#wikiLink {
  color: var(--gray);
}

#wikiLink:hover {
  cursor: pointer;
}

/* Planet data panel */
.dataPanel{
  margin: 3rem;
  max-width: 600px;
  padding: 0 2rem;
}

.dataItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--gray);
  margin: 0.775rem 0;
  padding: 1rem;
}

.dataDescription{
  font-family: var(--spartan);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 12px;
  color: var(--gray);
  margin: 0;
}

.dataMeasurement{
  margin: 0;  
}

.secondaryNav {
  display: none;
}

@media screen and (min-width: 800px) {
  #planetPage {
    align-items: center;
  }
  .planetContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
  }

  #planetNavigation {
    display: none;
    order: 2;
    border: none;
    width: 50%;
  }

  #planetNavbar {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0;
  }

  .planetNavItem {
    color: var(--white);
    border: 1px solid var(--dark-gray);
    margin: 0.5rem 0;
    padding: 1rem 1rem;
    width: 80%;
  }

  .planetNavItem:first-child {
    margin-top: 0.775rem;
  }

  .planetNavItem:hover {
    border: 1px solid transparent;
    background-color: var(--dark-gray) !important;
  }

  #planetImageContainer {
    order: -1;
    flex: 0 0 100%;
  }

  #planetName {
    margin-top: 0;
    font-size: 50px;
  }

  .planetBlock {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5rem;
    padding: 0 1rem;
  }

  .planetDescContainer {
    width: 50%;
    align-items: flex-start;
  }

  #planetNavDescription {
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 2rem;
    height: 120px;
  }

  .secondaryNav {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .dataPanel {
    display: flex;
    justify-content: space-between;
    order: 2;
    min-width: 250px;
    max-width: 650px;
  }
  
  .dataItem {
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
    padding: 1rem .5rem 1rem 1rem;
    margin: 0 0.5rem;
  }
  
  .dataItem:first-child{
    margin-left: 0;
  }
  .dataItem:last-child{
    margin-right: 0;
  }

  .dataDescription {
    letter-spacing: 0.73px;
    font-weight: bold;
  }

  .dataMeasurement {
    margin-top: 1rem;
    font-size: 24px;
  }
}

@media screen and (min-width: 1400px) {
  #navbar {
    flex-direction: row !important;
  }

  .navItem {
    font-size: 20px;
    color: var(--gray);
  }

  .navItem:hover {
    color: var(--white);
  }

  .planetContainer {
    max-width: 1500px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

  .planetBlock {
    flex-direction: column;
  }

  #planetImageContainer {
    max-width: 800px;
  }

  .planetImg {
    max-width: 600px;
  }

  .planetDescContainer {
    width: 70%;
  }

  #planetName {
    font-size: 85px;
    font-weight: 400;
  }

  #planetNavDescription {
    padding-right: 3rem;
    height: 150px;
    font-size: 20px;
    font-weight: 40;
    line-height: 25px;
  }

  .wikiContainer {
    margin-bottom: 2rem;
  }

  .secondaryNav {
    width: 70%;
  }

  .dataPanel {
    max-width: 100%;
  }

  .dataItem {
    width: 250px;
    padding: 2rem .5rem 2rem 2rem;
  }

  .dataDescription {
    font-size: 20px;
  }

  .dataMeasurement {
    font-size: 30px;
  }
}
