:root {
  /* COLORS */

  --white: rgb(255, 255, 255);
  --gray: rgb(131, 131, 145);
  --dark-gray: rgb(56, 56, 79);
  --dark: rgb(7, 7, 36);
  --blue: rgb(45, 104, 240);
  --light-blue: rgb(65, 158, 187);
  --purple: rgb(109, 46, 213);
  --yellow: rgb(237, 162, 73);
  --orange: rgb(209, 76, 50);
  --red: rgb(216, 58, 52);
  --green: rgb(30, 193, 162);
  
  /* Fonts */
  /* Use spartan with regular 400 or bold 700  */
  --spartan: "League Spartan", sans-serif;
  --antonio: "Antonio", sans-serif;
}

body {
  font-family: var(--antonio);
  margin: 0;
  padding: 0;
  background-image: url(/src/assets/background-stars.svg);
  background-size: cover;
  background-color: var(--dark);
  color: white;
}

.hamburgerNav {
  display: none;
}

.hamburgerOpen {
  position: absolute;
  top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
}

.hamburgerItemContainer {
  margin: 0 2rem;
  cursor: pointer;
}

.hamburgerItemContainer:not(:last-child) {
  border-bottom: 1px solid var(--dark-gray);
}

.hamburgerItemContainer:first-child {
  margin-top: 2rem;
}

.hamburgerItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.hamburgerItemText {
  font-family: var(--spartan);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 20px;
  font-weight: bold;
}

#planetNavigation{
  border-bottom: 1px solid var(--dark-gray);
}

#planetNavbar {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.planetNavItem {
  list-style-type: none;
  font-family: var(--spartan);
  font-weight: bold;
  letter-spacing: 1.93px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0.5rem 0;
  color: var(--gray);
  cursor: pointer;
  border-bottom: 8px solid transparent;
  margin-bottom: -15px;
  padding-bottom: 8px;
}

.planetNavItem:hover {
  border-bottom: 5px solid var(--light-blue);
}



